.centerContent {
	text-align: center;
	margin-left: 15px;
}

.courseContent {
	display: inline-block;
	margin: 5px;
	width: 30%;
	min-width: 250px;
	max-width: 400px;
	height: 150px;
	background-color: rgb(230, 230, 230);
	border: 2px solid  rgb(68, 68, 68);
	border-radius: 10px;
	-webkit-transition: border-radius .2s ease-out;
	-o-transition: border-radius .2s ease-out;
	transition: border-radius .2s ease-out;
	overflow: hidden;
	display: inline-block;
}

.courseContent:hover {
	border-radius: 5px;
}

.courseTitle {
	width: 100%;
	background-color: #cccccc;
	display: block;
	padding-top: 10px;
	height: 30px;
	font-weight: 700;
	font-size: 1em;
	border-bottom: 1px solid #bbbbbb;
}	
.courseContent > li {
	display: inline-block;
}
.leftContent{
	float: left;
	width: 35%;
}
.leftContent img{
	width: 75px;
	height: 75px;
	padding-top: 18px;
}
.rightContent{
	float: right;
	width: 60%;
	text-align: left;
	font-size: 12px;
	padding: 15px 5px 0px 0px;
}
