.modal {
	display: block;
	opacity: 0;
	position: absolute;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background-color: #EAEAEA;
	pointer-events: none;
	z-index: 9999;
	padding: 5px;
	overflow-y: auto;
}

	.modal > div {
		width: 100%;
		border: none;
	}

	.socialConnect li {
		width: calc(100% - 65px);
		margin: 1px 0px 1px 0px;
	}