/*Bloque 1*/
#first {
	background-image: url('../resources/background/imgbg2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: center;
	min-height: 650px;
	color: white;
	display: block;
	position: relative;
}

/*Bloque 2*/
#second{ 
	background-color: #EAEAEA; 
	min-height: 400px; 
	padding-bottom: 20px;
}

#second a, a:hover, a:focus { color: black; }

	.img-course {
		display: block;
		width: 225px;
		height: 225px;
		margin: auto;
		position: relative;
		padding: 15px;
	}

	.soon:before {
		color: white;
		content: "Proximamente";
		font-size: 18px;
		padding-top: 6px;
		background-image: url('../resources/sprites/sprites.png');
		background-size: 120%;
		background-position: 0px 0px;

		width: 141.4px;
		height: 55px;
		transform: rotate(45deg);
		position: absolute;
		display: block;
		left: 120px;
		top: 26px;
	}

	.desc-course {
		visibility: hidden;
	}

/*Bloque 3*/
#third { 
	background-color: #EEEEEE;
	min-height: 400px; 
	padding-bottom: 20px;
}
