/*Breve normalización...*/
ul {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

html, body {
	margin:0;
	padding:0;
	position: relative;
	top:0px;
}

header, section, footer, aside, nav, article, figure {
	display: block;
}
/*Fin de normalización...*/

body {
	background-color: #f2f2f2;
	font-family: 'Lato', Verdana, sans-serif;
}

.center960 {
	max-width: 960px;
	margin: auto;
	padding: 5px;
}

/*Header sin hacer login*/
#headerNoLogin > nav > ul > a > li {
	display: inline-block;
	padding: 5px;
	color: white;
}

#headerNoLogin {
	height: 50px;
	background-color: #2482C0;
	/*background-color: #0A8DBB; OLD COLOR*/
	position: fixed;
	width: 100%;
	border-bottom: 2px solid #0a64a1;
	opacity: 0.95;
}

/* Blur effect
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
*/

.left {
	float: left;
}

.logo {
	width: 32px;
	height: 32px;
	padding: 0px;
}

.right {
	float: right;
}

.softUnderline {
	font-size: 12px;
	text-decoration: underline;
}

.callToAction {
	background-color: #F38630;
	display: inline-block;
	border: 2px solid #f26a00;
	border-radius: 50px;
	padding: 2px 5px 2px 5px;
	-webkit-transition: border-radius .2s ease-out;
	-o-transition: border-radius .2s ease-out;
	transition: border-radius .2s ease-out;
	color: white;
}

.callToAction:hover {
	border-radius: 3px;
}

.callToAction:active {
	padding: 2px 5px 1px 5px;
	border-top: 3px solid #f26a00;
}

/*Contenido*/
.headerSpace {
	height: 50px;
}

.blockTitle {
	font-size: 30px;
}

.strong {
	font-weight: 700;
}

.size20 {
	font-size: 20px;
}

/*Bloque 1*/
.block1BG {
	background-image: url('../resources/background/imgbg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: center;
	height: 600px;
	color: white;
}

#block1 > h1 {
	font-size: 40px;
}

#block1 > ul > a > li {
	display: inline-block;
	color: white;
}

/*blank Space*/
.blankSpace {
	width: 100%;
	height: 20px;
}


/*Bloque 2*/
#block2BG {
	background-color: #EAEAEA;
}

#block2 {
	height: 600px;
}

#block2 > ul > li {
	display: inline-block;
	width: 20%;
	text-align: center;
}

#block2 > ul {
	text-align: center;
}

.courseImg {
	width: 75px;
	height: 75px;
}

.courseTitle {
	font-size: 18px;
}

/*Footer*/
#pageFooter {
	background-color: #8FC7DB;
	/*background-color: #A7CFDB; OLD COLOR*/
	border-top: #6AACC3 2px solid;
}

.leftFooter {
	float: left;
	width: 60%;
}

.rightFooter {
	float: left;
	width: 40%;
}

.clearFix {
	overflow: auto;
	width: 100%;
}

.levelTwo {
	padding-left: 7.5px;
}

.levelThree {
	padding-left: 15px;
}