label {
	display: block;
	margin-left: 5px;
	margin-bottom: 2px;
}

input {
	padding: 8px;
	background-color: #e8eeef;
	color: #2D3337;
	border: 1px solid #2482C0;
	border-radius: 3px;
	margin-bottom: 5px;
	width: calc(100% - 17px);
	font-family: inherit;
}

button {
	color: #FFF;
	padding: 10px;
	text-align: center;
	border-radius: 7px;
	background-color: #2482C0;
	border: none;
	margin-right: 13px;
}

fieldset {
	border: none;
}

.rememberLabel {
	margin: 0px 0px 0px 14px;
}

.rememberInput {
	display: inline;
	margin: 0px 2px 0px 0px;
	left: 0px;
	width: 13px;
}

.closeModal {
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 24px;
	margin: 6px 13px 0px 0px;
}

.forgotPassword {
	display: block;
	margin: 5px 0px 0px 14px;
}

.forgotPassword:hover {
	text-decoration: underline;
}

/*Modal Styling*/
#login:target {
	opacity: 1;
	pointer-events: auto;
}

#signup:target {
	opacity: 1;
	pointer-events: auto;
}

/*.modal {
	display: block;
	opacity: 0;
	position: fixed;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	background-color: rgba(163,163,163,0.8);
	pointer-events: none;
	z-index: 9999;
	padding: 5px;

/*	-webkit-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;
	transition: opacity .3s	ease-out;*/
}

	.modal > div {
		position: relative;
		margin: auto;
		min-width: 240px;
		max-width: 480px;
		padding: 5px 5px 5px 12px;
		margin-top: 100px;
		background-color: #EAEAEA;
		border-radius: 15px;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.67);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.67);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.67);
	}

		.modal > div > div {
			margin: 0px 14px 14px 14px;
		}

	.socialConnect {
		position: relative;
		margin: auto;
		text-align: center;
	}

		.socialConnect li {
			display: inline-block;
			color: white;
			position: relative;
			height: 65px;
			padding: 0px 0px 0px 65px;
			border-radius: 3px;
			line-height: 65px;
		}

		.socialConnect li:before {
			content: "";
			background-color: rgba(0,0,0,0.1);
			height: 65px;
			width: calc(100% - 65px);
			display: block;
			position: absolute;
			right: 0px;
			border-radius: 0px 3px 3px 0px;
			z-index: 1;
		}

			.socialConnect li p {
				position: relative;
				margin: 0px; 
				z-index: 2;
			}

			.socialConnect svg {
				position: absolute;
				left: 0px;
			}
