.courseCard {
	/*display: inline-block;*/
	/*padding: 5px;*/
	margin: 0px 10px 30px 10px;
	height: 250px;
	background-color: white;
	/*border: 2px solid  rgb(68, 68, 68);*/
	border-radius: 5px;
	/*-webkit-transition: border-radius .2s ease-out;*/
	/*-o-transition: border-radius .2s ease-out;*/
	/*transition: border-radius .2s ease-out;*/
	overflow: hidden;
	display: inline-block;
}

.courseCard h3 {
	width: 100%;
	background-color: #cccccc;
	display: block;
	padding: 15px 5px 5px 5px;
	height: 30px;
	font-weight: 400;
	font-size: 18px;
	margin: 0px;
}	
.courseCard > li {
	display: inline-block;
}
.courseCard img {
	float: left;
	width: 35%;
}
.leftContent img{
	width: 75px;
	height: 75px;
	padding-top: 18px;
}
.courseCard p {
	float: right;
	width: 60%;
	text-align: left;
	font-size: 16px;
	padding: 15px 5px 0px 0px;
}
