{{extend 'layout.html'}}
<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{=URL('static','css/courses.css')}}">
		<link rel="stylesheet" href="{{=URL('static','css/courses-small.css')}}" media="screen and (max-width:700px)">
		<link rel="stylesheet" href="{{=URL('static','css/courses-medium.css')}}" media="screen and (min-width:700px) and (max-width:1300px)">
		<link rel="stylesheet" href="{{=URL('static','css/courses-large.css')}}" media="screen and (min-width:1300px)">
		<title>Fizcode</title>
</head>
	<body>
		<main>
			<span class="space50 block"></span>
			<section id="second">
				<article class="centered1440px">
					<span class="space20 block"></span>
					<h1 class="size30">De Fizcode, Para ti!</h1>
					<h3 class="size26">Nuestros cursos:</h3>
					<span class="space20 block"></span>
					<ul class="courses">
						<li class="courseCard">
								<h3></h3>
								<img src="">
								<p></p>
						</li>
						
					</ul>
					<span class="blankSpace"></span>
				</article>
			</section>
		</main>
	</body>
</html>
