<div class="centered1440px">
    <div class="clearFix">
        <ul class="size14">
			<a href="">
				<li class="strong">
                    Fizcode
                </li>
            </a>
            <a href="">
				<li>
					&copy; Copyright 2015
                </li>
            </a>
			<a href="">
				<li>
                    Aviso Legal
                </li>
			</a>
			<a href="">
				<li>
                    Contacto
                </li>
			</a>
			<a href="">
				<li>
                    Blog
                </li>
            </a>
        </ul>
    </div>
</div>
