<!DOCTYPE html>
<html class="no-js" lang="{{=T.accepted_language or 'en'}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="rgb(35,130,186)">
    <title>{{=response.title or request.application}}</title>
    <meta name="application-name" content="{{=request.application}}">
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{=URL('static','css/style/style.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/style/style_small.css')}}" media="screen and (max-width:500px)"/>
    <link rel="stylesheet" href="{{=URL('static','css/style/style-large.css')}}" media="screen and (max-width:500px)"/>
    <link rel="stylesheet" href="{{=URL('static','css/login/login.css')}}"/>
	<link rel="stylesheet" href="{{=URL('static','css/login/login_small.css')}}" media="screen and (max-width:500px)"/>
	<link rel="stylesheet" href="{{=URL('static','css/login/login_large.css')}}" media="screen and (min-width:500px)"/>
	<link rel="stylesheet" href="{{=URL('static','css/normalize.css')}}"/>
	<link rel="shortcut icon" href="{{=URL('static','resources/Logo/FizcodeIcon.ico')}}"/>
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>

    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{
    # using sidebars need to know what sidebar you want to use
    mc0 = 'col-md-12'
    mc1 = 'col-md-9'
    mc2 = 'col-md-6'
    left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: mc0, 1: mc1, 2: mc2}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
  </head>
  <body>
      <header>
			<nav class="centered960px ">
				<ul>
					<a href="index.html">
						<li class="left">
							<div class="logo">
								<img src="{{=URL('static','resources/Logo/logoL.svg')}}">
							</div>
						</li>
					</a>
					<a href="#signup">
						<li class="right callToAction OrangeButton"><p>Registrarse</p></li>
					</a>
					<a href="#login">
						<li class="right"><p class="softUnderline">Iniciar Sesión</p></li>
					</a>
				</ul>
			</nav>
		</header>
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <!--<div class="flash alert alert-dismissable">{{=response.flash or ''}}</div>-->
    <!-- Navbar ======================================= -->
    <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{=response.logo or ''}}
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            {{='auth' in globals() and auth.navbar('Welcome',mode='dropdown') or ''}}
          </ul>
          {{if response.menu:}}
          {{=MENU(response.menu)}}
          {{pass}}
        </div>
      </div>
    </nav>-->
    <!-- Masthead ===================================== -->    
    <!--{{block header}}
    {{end}}-->
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <div class="container-fluid">
      {{if left_sidebar_enabled:}}
        <div class="col-md-3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}

      <div class="{{=middle_column}}">
        {{block center}}
        {{include}}
        {{end}}
      </div>

      {{if right_sidebar_enabled:}}
        <div class="col-md-3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}

    </div>
    <!-- The javascript =============================== -->
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
    {{block page_js}}{{end page_js}}
    <footer>
			<div class="centered1440px">
				<div class="clearFix">
					<ul class="size14">
						<a href="">
							<li class="strong">
								Fizcode
							</li>
						</a>
						<a href="">
							<li>
								&copy; Copyright 2015
							</li>
						</a>
						<a href="">
							<li>
								Aviso Legal
							</li>
						</a>
						<a href="">
							<li>
								Contacto
							</li>
						</a>
						<a href="">
							<li>
								Blog
							</li>
						</a>
					</ul>
				</div>
			</div>
		</footer>
  </body>
</html>
