html, body { height: 100%; }

.courseHeader {
	padding: .3em;
	margin-bottom: 10px;
}

main { counter-reset: prettyNumber; min-height: calc(100% - 50px); height: auto; background-color: #EAEAEA;}

details { font-weight: 400; }

.numberedBullet { padding: .5em; margin: 0px;}
	.numberedBullet summary { cursor: pointer; font-size: 26px;}
		.numberedBullet summary:before { 
		    counter-increment: prettyNumber;
		    content: counter(prettyNumber);

		    display: inline-block;
		    margin: 1px 8px;
		}

pre:before {
	content: attr(rel);
	display: block;
	width: calc(100% - 10px);
	background-color: #fff;
	padding: 5px 0px 5px 10px;
	font-family: 'Lato';
}

pre {
	margin: 2px 0px 10px;
}

pre > code {
	display: block;
	padding: 5px;
}