// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Bloque 1*/
#first {
	background-image: url('/assets/imgbg2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: center;
	min-height: 650px;
	color: white;
	display: block;
	position: relative;
}

/*Bloque 2*/
#second{ 
	background-color: #EAEAEA; 
	min-height: 400px; 
	padding-bottom: 20px;
}

#second a, a:hover, a:focus { color: black; }

/*Bloque 3*/
#third { 
	background-color: #EEEEEE;
	min-height: 400px; 
	padding-bottom: 20px;
}
