<footer class="site-footer">
	<div class="container">
		<ul class="list-unstyled">
			<li>
				<a href="">
					<strong>Fizcode</strong>
				</a>
			</li>
			<li>
				<a href="">
					&copy; Copyright 2015
				</a>
			</li>
			<li>
				<a href="">
					Aviso Legal
				</a>
			</li>
			<li>
				<a href="">
					Contacto
				</a>
			</li>
			<li>
				<a href="">
					Blog
				</a>
			</li>
		</ul>
	</div>
</footer>