<header class="site-header">
	<nav class="navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to image_tag("/assets/logo.svg", class: "logo"), root_url, class: "navbar-brand" %>
			</div>
			<div class="collapse navbar-collapse" id="collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="btn-login" data-toggle="modal" data-target="#login">Iniciar Sesión</a></li>
					<li><a class="btn btn-orange btn-lg btn-signup" data-toggle="modal" data-target="#signup">Registrarse</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>